.Home{
  display: flex;
  justify-content:center;
  align-items: center;
  color: white;
  list-style: none;
  margin-top: 350px;

}
.Signup{
  width: 100%;
  margin: auto;
  max-width: 500px;
  height: 100%;
}
.Signin{
  width: 100%;
  margin: auto;
  max-width: 500px;
  height: 100%;
  
}